doctype html
html
  head
    title use npm scripts in progress
  body
    div cross platform commands
      p && chainable commands
      p <  input from a file
      p >  redirect stdout to a file
      p |  pipline  commands
